body{
  background:#f4f4f4;
  position: relative;
  min-height: 100vh;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}
.navbar-dark .navbar-brand {
  color: #ecf0f1;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #c5f3fd;
}
.navbar-dark .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-dark .navbar-toggler:focus {
  outline: none;
}
.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
  color: #c5f3fd;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  color: #c5f3fd;
  background-color: #68b1f5;
}
.navbar-dark .navbar-link {
  color: #ecf0f1;
}
.navbar-dark .navbar-link:hover {
  color: #c5f3fd;
}

/* Custom */
.main-color-bg{
  background-color: #7e7e7e !important;
  border-color: #8a8a8a !important;
  color:#ffffff !important;
}

/* Header */
#header{
  background:#333333;
  color:#ffffff;
}

#header .create{
  padding-top: 20px;
}

#header h2 {
  font-size: 22px !important;
  font-weight: normal;
  padding:7px 0;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#main {
  padding-bottom: 3.5rem;
  padding-top:2rem
}

.login-form {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Footer */
#footer{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 2.5rem;
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:10px;
  font-size: 12px;
}

/* buttons */
.btn.btn-default {
  background-color: #d3d3d3;
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c5f3fd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c5f3fd;
    background-color: #68b1f5;
  }
}
